@mixin cuotas() {
  text-align: center;
  background-color: $cuotasBackgroundColor;
  padding: 0.3125rem 0rem;
}

@mixin cuotasParrafo() {
  margin: 0;
  font-size: 24px;
  color: $fontHeaderColor;
}
