$logo: "Damion", cursive;
$navbar: "Poppins", sans-serif;

$gradientBackgroundColor: linear-gradient(
  90deg,
  rgba(205, 83, 7, 1) 28%,
  rgba(221, 135, 42, 1) 50%,
  rgba(219, 135, 65, 1) 78%
);

$fontHeaderColor: #fff;

$mainBackgroundColor: #c9cebd;

$cuotasBackgroundColor: rgb(244, 123, 37);
