/* header */
header {
  background: $gradientBackgroundColor;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.linkReset {
  text-decoration: none;
  color: $fontHeaderColor;
}

.logo a {
  @extend .linkReset;
  font-size: 1.6875rem;
}

.logo a:hover {
  color: $fontHeaderColor;
}

nav ul {
  list-style-type: none;
  /* margin: 0; */
  /* padding: 0; */
  display: flex;
  // align-items: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  @extend .linkReset;
}

nav ul li a:hover {
  text-decoration: underline;
  color: $fontHeaderColor;
}
